<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nostradamus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/main.css')}}">
</head>

<body>
    <script src="{{url_for('static', filename = 'jquery-3.4.1.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

    <nav class="navbar navbar-expand-md">
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Documentation</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="description">

      <h1>NOSTRADAMUS</h1>
      <p>Running long distance clears your mind from everyday psychological stressors, whereas you load a more fundamental physiological stress to your body.</p>

      <p>This app helps to understand this trade-off from an emotional point of view. It predicts the probabilities of eight distinct emotions by analyzing your picture!</p>

    <div class=metanav>
    <form id='dropdowns' method='post' action="project.html" >

          Ranking by Gender: <input type='text' name='ranking' placeholder='12345' style="width: 50px;" />

          &nbsp;
          &nbsp;
          
          Age: <select name='age'>
          <option value="" disabled selected>Select</option>
          <option id='01' value="01">18-39</option>
          <option id='02' value="02">40-44</option>
          <option id='03' value="03">45-49</option>
          <option id='04' value="04">50-54</option> 
          <option id='05' value="05">55-59</option>
          <option id='06' value="06">60-64</option>
          <option id='07' value="07">65-69</option>
          <option id='08' value="08">70+</option> 
          </select>
          
          &nbsp;
          &nbsp;

          Gender: <select name='gender'>
          <option value="" disabled selected>Select</option>
          <option id='01' value="01">Male</option>
          <option id='02' value="02">Female</option>
          </select>

          &nbsp;
          &nbsp;

          BQ: <select name='bq'>
          <option value="" disabled selected>Select</option>
          <option id='01' value="01">Yes</option>
          <option id='02' value="02">No</option>
          </select>
    </form>
    </div>

    <br style = “line-height:20;”>
    <br style = “line-height:20;”>

    <div class="upload-btn-wrapper">
      <form method = 'POST' enctype = "multipart/form-data">
      <input type="file" name="myfile" />
      <input type="submit" value="Upload">
      </form>
    </div>
        
    <br style = “line-height:20;”>
    You look <strong>{{result1}}</strong> in this picture!
    <br style = “line-height:5;”>
    The other two probable emotions are <strong>{{result2}}</strong> and <strong>{{result3}}</strong>.
    <br style = “line-height:20;”>
    <br style = “line-height:20;”>
    
    <img class="image-box" src="{{url_for('static', filename= result4 ) }}" width="250" height="250">

    </div>
</body>
</html>